/* Body */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

/* Navbar */
.navbar {
    background-color: #000000;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #39ff14;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #39ff14;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #39ff14;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: white;
}

/* Container */
.container {
    width: 85%;
    margin: 40px auto;
}

/* Welcome */
.welcome h1 {
    color: #39ff14;
}

.welcome p {
    color: #cccccc;
}

/* Summary Cards */
.summary-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.summary-card {
    flex: 1 1 22%;
    background-color: #111111;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #39ff14;
    text-align: center;
    box-shadow: 0 0 15px rgba(57, 255, 20, 0.2);
}

.summary-card h3 {
    color: #39ff14;
}

.summary-card p {
    font-size: 24px;
    font-weight: bold;
}

/* Cards */
.card {
    background-color: #111111;
    padding: 25px;
    margin-top: 40px;
    border-radius: 12px;
    border: 1px solid #39ff14;
    box-shadow: 0 0 15px rgba(57, 255, 20, 0.2);
}

.card h2 {
    color: #39ff14;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th,
table td {
    padding: 12px;
    border-bottom: 1px solid #333;
}

table th {
    color: #39ff14;
    text-align: left;
}

/* Class Boxes */
.class-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.class-box {
    flex: 1 1 30%;
    background-color: #000000;
    border: 1px solid #39ff14;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.class-box:hover {
    box-shadow: 0 0 15px #39ff14;
}

.class-box h3 {
    color: #39ff14;
}

/* Buttons */
button {
    margin-top: 10px;
    padding: 6px 12px;
    background-color: #39ff14;
    border: none;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    box-shadow: 0 0 10px #39ff14;
}

.small-btn {
    margin-right: 5px;
}

.delete {
    background-color: red;
    color: white;
}

.delete:hover {
    box-shadow: 0 0 10px red;
}

/* Footer */
footer {
  background-color: #000000;  
  color: #fff;             
  text-align: center;      
  padding: 20px 10px;      
  font-family: Arial, sans-serif;
}

footer a {
  color: #0f0;             
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}
