/* BODY */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 25px 60px;
    margin-bottom: 0;   
}

.logo {
    color: #00ff00;
    font-size: 32px;      
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;           
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 20px;      
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00ff00;
}

.login-btn {
    background-color: #00ff00;
    color: #111;
    padding: 10px 20px;   
    border-radius: 6px;
    font-weight: bold;
}

/* LOGIN SECTION */
.login-section {
    display: flex;
    justify-content: center;
    padding: 80px 20px;
}

.login-container {
    width: 400px;
    background-color: #0a0a0a;
    padding: 40px;
    border: 1px solid #00ff00;
    border-radius: 10px;
}

h1 {
    color: white;
    text-align: center;
}

.subtitle {
    color: #aaa;
    text-align: center;
    margin-bottom: 30px;
}

label {
    color: white;
    display: block;
    margin-top: 15px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    background-color: #111;
    border: 1px solid #333;
    color: white;
    border-radius: 5px;
}

.password-box {
    position: relative;
}

.eye {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 14px;
}

.options a {
    color: #00ff00;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #00ff00;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}
